<ion-header [translucent]="true">
  <ion-toolbar>
    <app-nav-bar></app-nav-bar>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <div class="flex justify-center pt-10">
    <div class="w-[350px] h-[200px] rounded-xl overflow-hidden">
      <div class="flex w-[1050px] h-[200px]">
        <img class="w-[350px] h-[200px] object-fit transition-transform duration-700" src="assets/motos/moto1.jpg"
          [ngClass]="{'-translate-x-[100%]': imgIndex == 2}"
          [ngClass]="{'-translate-x-[200%]': imgIndex == 3}"
        >
        <img class="w-[350px] h-[200px] object-fit transition-transform duration-700" src="assets/motos/moto2.jpeg"
          [ngClass]="{'-translate-x-[100%]': imgIndex == 2}"
          [ngClass]="{'-translate-x-[200%]': imgIndex == 3}"
        >
        <img class="w-[350px] h-[200px] object-fit transition-transform duration-700" src="assets/motos/moto3.jpg"
          [ngClass]="{'-translate-x-[100%]': imgIndex == 2}"
          [ngClass]="{'-translate-x-[200%]': imgIndex == 3}"
        >
      </div>
      <div class="flex -translate-y-5 justify-center items-end">
        <div class="mx-2 mb-3 px-5 py-[5px] rounded-xl cursor-pointer bg-white" (click)="imgIndex = 1" [ngClass]="{'opacity-60': imgIndex != 1}"></div>
        <div class="mx-2 mb-3 px-5 py-[5px] rounded-xl cursor-pointer bg-white" (click)="imgIndex = 2" [ngClass]="{'opacity-60': imgIndex != 2}"></div>
        <div class="mx-2 mb-3 px-5 py-[5px] rounded-xl cursor-pointer bg-white" (click)="imgIndex = 3" [ngClass]="{'opacity-60': imgIndex != 3}"></div>
      </div>
    </div>
  </div>
  <div class="flex mt-16 mb-20 justify-around">
    <div class="flex-wrap w-60 p-3 shadow-lg hover:scale-[1.03] transition-transform rounded-xl">
      <img class="mx-auto mb-3 rounded-lg" src="assets/motos/motoCard1.jpg">
      <ion-text color="dark" class="text-xl font-bold">Modelo da moto</ion-text>
      <div class="mt-3 text-justify font-extralight">Lorem ipsum dolor sit amet consectetur adipisicing elit. Delectus cupiditate quam adipisci amet. Tenetur, repudiandae.</div>
      <div class="mt-3 text-2xl font-bold">R$99,99</div>
      <ion-button expand="block" class="mt-3 bg-blue-500 text-lg rounded-xl font-semibold text-white">Comprar</ion-button>
    </div>

    <div class="flex-wrap w-60 p-3 shadow-lg hover:scale-[1.03] transition-transform rounded-xl">
      <img class="mx-auto mb-3 rounded-lg" src="assets/motos/motoCard1.jpg">
      <ion-text color="dark" class="text-xl font-bold">Modelo da moto</ion-text>
      <div class="mt-3 text-justify font-extralight">Lorem ipsum dolor sit amet consectetur adipisicing elit. Delectus cupiditate quam adipisci amet. Tenetur, repudiandae.</div>
      <div class="mt-3 text-2xl font-bold">R$99,99</div>
      <ion-button expand="block" class="mt-3 bg-blue-500 text-lg rounded-xl font-semibold text-white">Comprar</ion-button>
    </div>
  </div>
</ion-content>
