<div [ngClass]="{'dark': darkMode}">
  <div class="flex w-screen py-1 justify-between bg-blue text-white text-4xl font-serif font-semibold italic">
    <div class="p-5 absolute top-0">
      <div class="flex-wrap w-10 my-auto cursor-pointer" (click)="hamState = !hamState">
          <ion-item color="dark" lines="none" class="h-[5px] rounded-lg bg-white transition-transform duration-500" [ngClass]="{'rotate-45 translate-y-[9.5px]': hamState}"></ion-item>
          <ion-item color="dark" lines="none" class="my-[6px] h-[5px] rounded-lg bg-white transition-opacity duration-500" [ngClass]="{'opacity-0': hamState}"></ion-item>
          <ion-item color="dark" lines="none" class="h-[5px] rounded-lg bg-white transition-transform duration-500" [ngClass]="{'-rotate-45 -translate-y-[9.5px]': hamState}"></ion-item>
      </div>
    </div>
    <div class="w-9 ml-3"></div><!--Spacer-->
    <ion-text color="dark" class="cursor-pointer" routerLink="/">Site Motos</ion-text>
    <ion-text color="dark" class="cursor-pointer my-auto mr-3" routerLink="/">
      <svg xmlns="http://www.w3.org/2000/svg" class="h-9 w-9" viewBox="0 0 20 20" fill="currentColor">
        <path fill-rule="evenodd" d="M18 10a8 8 0 11-16 0 8 8 0 0116 0zm-6-3a2 2 0 11-4 0 2 2 0 014 0zm-2 4a5 5 0 00-4.546 2.916A5.986 5.986 0 0010 16a5.986 5.986 0 004.546-2.084A5 5 0 0010 11z" clip-rule="evenodd" />
      </svg>
    </ion-text>
  </div>
</div>
